.banner {
  position: relative;
  margin: 0;
  width: auto;
}

.banner::after {
  content: "";
  position: absolute;
  background-image: url("/img/trianglemobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  top: 65%;
  left: 0;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    background-image: url("/img/triangletablet.svg");
    background-repeat: no-repeat;
    top: 81%;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    content: "";
    position: absolute;
    background-image: url("/img/introtriangle.svg");
    background-repeat: no-repeat;
    top: 81%;
    left: 0;
  }
}

.banner__inner {
  text-align: center;
  background-image: url("/img/mobileform.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 158px;


  @media (min-width: $tablet-width) {

    background-image: url("/img/backdesktop.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 290px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/backdesktopform.jpg");
    height: 300px;
  }
}

.banner__text {
  width: 229px;
  padding-top: 52px;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}
