.checkbox-holder {
  position: relative;
  text-align: center;
  display: flex;
  margin-bottom: 34px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.checkbox-holder__input-indicator {
  position: relative;
  width: 46px;
  height: 46px;
  margin-right: 29px;
  background-color: #f2f2f2;
  border: 5px solid #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
  }
}

.checkbox-holder__input-indicator--square {
  position: relative;

  &:hover {
    background-color: #e5e5e5;
    border: 5px solid #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
    border: 5px solid #d5d5d5;
  }
}

.checkbox-holder__input:checked + .checkbox-holder__input-indicator--square::before {
  content: "";
  position: absolute;
  width: 23px;
  height: 16px;
  top: 30%;
  left: 25%;
  background: url("/img/chek.svg");
  background-repeat: no-repeat;
}

.checkbox-holder__input:checked + .checkbox-holder__input-indicator--square:active::before {
  opacity: 0.3;
}

.checkbox-holder__input-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
