.checkbox-holder {
  text-align: center;
  display: flex;
  margin-bottom: 34px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
  }
}

.checkbox-holder__input {
  border: 5px solid #f2f2f2;
  margin-right: 29px;
  width: 46px;
  height: 46px;
}

.checkbox-holder__input-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}
