.column {
  @media (min-width: $desktop-width) {
    max-width: 1200px;
    margin: 0 auto;
  }
}

.column__banner {
  background-image: url("/img/mobileform.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 158px;

  @media (min-width: $tablet-width) {

    background-image: url("/img/backdesktop.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 290px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/backdesktopform.jpg");
    height: 300px;
  }
}

.column__banner-inner {
  text-align: center;
}

.column__banner-text {
  padding-top: 51px;
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}
