.column {
  @media (min-width: $desktop-width) {
    position: relative;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
  }
}

.column__banner {
  position: relative;
  background-image: url("/img/mobileform.jpg");
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 158px;
  background-size: cover;

  @media (min-width: $tablet-width) {

    background-image: url("/img/backdesktop.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 290px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/backdesktopform.jpg");
    height: 300px;
  }
}

.column__banner::after {
  content: "";
  position: absolute;
  background-image: url("/img/trianglemobile.svg");
  background-repeat: no-repeat;
  width: 100%;
  height: 57px;
  bottom: -1px;
  left: 0;
  background-size: cover;

  @media (min-width: $tablet-width) {
    background-image: url("/img/triangletablet.svg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("/img/introtriangle.svg");
  }
}

.column__banner-inner {
  position: relative;
  text-align: center;
}


.column__banner-text {
  padding-top: 51px;
  width: 229px;

  @media (min-width: $tablet-width) {
    width: 460px;
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 101px;
  }
}
