.container {
  padding-top: 32px;
  padding-right: 21px;
  padding-bottom: 38px;
  padding-left: 23px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    width: auto;
    padding-top: 65px;
    padding-right: 95px;
    padding-bottom: 65px;
    padding-left: 95px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding-top: 105px;
    padding-bottom: 85px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
  }
}

.container__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-top: 0;


  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.container__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 0 76px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 260px;
  }
}
