.container-video {
  margin: 0 auto;
  padding-bottom: 49px;

  @media (min-width: $tablet-width) {
    padding-bottom: 40px;
  }
}

.container-video__wrapper {
  @media (min-width: $tablet-width) {
    padding-top: 59px;
    padding-bottom: 68px;
    width: 445px;
    margin: 0 auto;
  }
}

.container-video__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    margin-bottom: 64px;
    font-size: 30px;
  }
}

.container-video__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.container-video__clip {
  padding: 0;
  width: 320px;
  margin: 0 auto;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 648px;
    margin: 0 60px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    width: 800px;
  }
}

.container-video__img {
  @media (min-width: $tablet-width) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.container-video__controls {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
}

.container-video-scale {
  height: 45px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 4px;
  width: 280px;

  @media (min-width: $tablet-width) {
    left: 0;
    width: 100%;
  }
}

.container-video__button-drag {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 235px;
    height: 3px;
    background-color: #ffffff;
    opacity: 0.2;
  }

  &::after {
    content: "";
    position: absolute;

    top: 5px;
    left: 10px;
    transform: translate(-50%, -50%);

    width: 9px;
    height: 9px;
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.container-video__bottons {
  border: none;
  display: flex;
  height: 66px;
  position: absolute;
  bottom: -62px;
  width: 280px;
  background-color: #f2f2f2;
  align-items: center;

  @media (min-width: $tablet-width) {
    width: 100%;
    left: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    left: 0;
  }
}

.container-video-replay {
  border: none;
  padding: 0;
  margin-left: 20px;
}

.container-video-subtitles {
  border: none;
  margin-right: 31px;
  margin-left: auto;
  padding: 0;
}

.container-video-fullscreen {
  padding: 0;
  border: none;
  margin-right: 23px;
}
