.contacts-fieldset {
  border: none;
  margin-bottom: 49px;
  padding: 0;
}

.contacts-fieldset__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-style: normal;
  line-height: 26px;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.contacts-fieldset__field-name {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 8px;
  margin-left: 42px;
}

.text-field__input {
  width: 280px;
  height: 58px;
}
