.copyright {
  text-align: center;
}

.copyright__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 12px;
}

.copyright__logo {
  margin: 0 auto;
}
