.copyright {
  margin-top: 40px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.copyright__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  margin-right: 12px;
}

.copyright__logo {
  display: block;
  margin: 0;

  &:hover .copyright__wrapper {
    fill: #81b3d2;
  }

  &:active .copyright__wrapper {
    fill: rgba(0, 0, 0, 0.3);
  }
}
