.emotions {
  border: none;
  padding-top: 20px;
  padding-right: 22px;
  padding-left: 19px;
  padding-bottom: 48px;
  margin: 0;
  width: 100%;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 75px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
  }
}

.emotions__container {
  margin: 0;
  padding: 0;
  border: none;
}

.emotions__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
  padding: 0;


  @media (min-width: $tablet-width) {
    position: relative;
    font-size: 21px;
    margin-bottom: 54px;
    width: 100%;

    &::before {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
      left: 0;
      top: 50%;
    }

    &::after {
      position: absolute;
      content: "";
      width: 123px;
      height: 1px;
      background-color: #dbdbdb;
      right: 0;
      top: 50%;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      width: 280px;
    }

    &::after {
      width: 280px;
    }
  }
}

.emotions__textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  min-height: 160px;
  background-color: #f2f2f2;
  resize: none;
  width: 100%;
  border: none;
  padding-top: 13px;
  padding-right: 32px;
  padding-bottom: 29px;
  padding-left: 21px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-right: 21px;
    padding-bottom: 24px;
    padding-left: 21px;
  }
}

.emotions__wrapper {
  padding-top: 51px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 3;
    padding-top: 58px;
  }
}

.emotions__submit {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  width: 280px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 21px;
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;

    &:hover {
      background-color: #669ec0;
    }

    &:active {
      background-color: #5496bd;
      color: rgba(255, 255, 255, 0.3);
    }

    &:disabled {
      background-color: #e5e5e5;
    }
  }
}

.emotions__text {
  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
