.feedback {
  margin-top: 36px;
  margin-right: 8px;
  margin-bottom: 37px;
  margin-left: 8px;
  text-align: center;
}

.feedback__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 62px;
}

.feedback__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
}
