.feedback {
  padding-top: 40px;
  padding-right: 23px;
  padding-left: 23px;
  padding-bottom: 21px;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
    padding-bottom: 60px;
    padding-right: 0;
    padding-left: 0;
    width: 440px;
    margin: 0 auto;
    border: none;
  }

  @media (min-width: $tablet-width) {
    padding-top: 114px;
    padding-bottom: 56px;
  }
}

.feedback__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 42px;
  margin-top: 0;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.feedback__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
