.form {
  @media (max-width: $mobile-width-only) {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e5e5e5;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding-right: 60px;
    padding-left: 60px;
    max-width: 768px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1200px;
    padding-left: 128px;
    padding-right: 120px;
  }
}
