.form {
  @media (max-width: $mobile-width-only) {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: auto;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 60px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 61px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 128px;
    padding-right: 120px;
  }
}
