.gallery {
  padding-left: 20px;
  padding-right: 20px;
}

.gallery__card {
  margin-bottom: 11px;
}

.gallery__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.gallery__name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  margin-bottom: 15px;
}

.gallery__number {
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 38px;
}
