.hotel-search-text {
  background-color: #ffffff;
  padding-top: 33px;
  padding-right: 20px;
  padding-bottom: 53px;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding: 58px 155px;
  }

  @media (min-width: $desktop-width) {
    width: 459px;
    margin: 0 auto;
    padding-bottom: 66px;
  }
}

.hotel-searh-text__wrapper {
  @media (min-width: $tablet-width) {
    padding: 58px 155px;
  }
}

.hotel-search-text__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 33px;
  margin-top: 0;
}


.hotel-search-text__content {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 13px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 23px;
  margin-top: 0;
  padding-left: 7px;
  padding-right: 7px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.hotel-search-text__find {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 17px;
  display: block;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
  }
}

.hotel-search-text__find:hover {
  @media (min-width: $tablet-width) {
    background-color: #669ec0;
  }
}
