.hotel-search-text {
  background-color: #ffffff;
  margin-top: 39px;
  margin-right: 30px;
  margin-bottom: 27px;
  margin-left: 29px;
}

.hotel-search-text__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-text__content {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-text__find {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  margin-bottom: 49px;
}
