.hotel-search-text {
  background-color: #ffffff;
  margin-top: 39px;
  margin-right: 30px;
  margin-bottom: 27px;
  margin-left: 29px;

  @media (min-width: $tablet-width) {
    width: 768px;
    margin: 0 auto;
    background-color: #ffffff;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    padding-bottom: 66px;
  }
}

.hotel-searh-text__wrapper {
  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 0 auto;
    padding-top: 58px;
    padding-bottom: 52px;
  }
}

.hotel-search-text__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.hotel-search-text__content {
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.hotel-search-text__find {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 17px;
  display: block;
}

.hotel-search-text__find:hover {
  @media (min-width: $tablet-width) {
    background-color: #669ec0;
  }
}
