.impressions-fieldset {
  border: none;
  padding-top: 20px;
  padding-right: 37px;
  padding-left: 24px;
  padding-bottom: 31px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;


  @media (min-width: $tablet-width) {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    width: auto;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.impressions-fieldset::before {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 1px;
    height: 292px;
    background-color: #dbdbdb;
    top: 0;
    right: 0;
  }
}

.impressions-fieldset__wrapper {
  margin: 0;
}

.impressions-fieldset__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 21px;
    text-align: start;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-left: 76px;
  }
}

.impressions-fieldset__container {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
}

.impressions-fieldset__container:last-child {
  margin: 0;
}
