.impressions-fieldset {
  border: none;
  padding: 0;
  margin-bottom: 47px;
}

.impressions-fieldset__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 0;
}
