.impressions-fieldset {
  border: none;
  padding-right: 37px;
  padding-left: 24px;
  padding-bottom: 31px;
  margin: 0;


  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    display: grid;
    width: 324px;
    padding: 0;
  }

  @media (min-width: $tablet-width) {
    width: 480px;
  }
}

.impressions-fieldset__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;
    font-size: 21px;
    padding-top: 60px;
    text-align: end;
  }
}

.impressions-fieldset__container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
