.main-nav {
  background-color: #81b3d2;
}

.main-nav__list {
  list-style-type: none;
}

.main-nav__link {
  color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}
