.page-header {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-header__logo {
  position: absolute;
  left: 50%;
  z-index: 2;
  margin-left: -51px;
}
