.page-footer {
  padding-top: 28px;
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    align-content: center;
    justify-content: space-between;
    width: auto;
    display: flex;
    padding: 45px 60px;
    align-items: center;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-footer__caption {
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}
