.page-content {
  background-color: #ffffff;
  margin: 0 auto;
}


.page-content__banner {
  background-color: #ffffff;
  height: 390px;

  @media (min-width: $tablet-width) {
    height: 518px;
  }
}

.page-content__banner-backdrop {
  position: absolute;
  margin: 0;
}

.page-content__banner-small {
  position: relative;
  padding-top: 90px;
  padding-left: 19px;
}
