.page-header {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    width: 1280px;
  }
}

.page-header__logo {
  height: 84px;
  position: absolute;
  left: 50%;
  z-index: 2;
  margin-left: -51px;

  @media (min-width: $tablet-width) {
    height: 96px;
    width: 101px;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    height: 84px;
    width: 101px;
  }
}
