.page-footer {
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 768px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}

.page-footer__caption {
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-bottom: 33px;
}
