.page-footer {
  margin-top: 38px;
  margin-right: 78px;
  margin-bottom: 33px;
  margin-left: 76px;
}

.page-footer__caption {
  text-align: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}
