.page-container {
  width: auto;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
  }
}
