.page-intro {
  padding-top: 32px;
  padding-right: 18px;
  padding-bottom: 27px;
  padding-left: 17px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 484px;
    margin: 0 auto;
    padding-top: 43px;
    padding-right: 0;
    padding-bottom: 52px;
    padding-left: 0;
  }
}

.page-intro__header {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 44px;
}

.page-intro__description {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 10;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
