.popup-error {
  display: none;
  margin-top: 40px;
  margin-right: 42px;
  margin-left: 41px;
  margin-bottom: 22px;
  text-align: center;

  @media (min-width: $tablet-width) {
    width: 400px;
    margin: 0 auto;
  }
}

.popup-error__container {
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 52px;
    padding-bottom: 45px;
    padding-right: 47px;
    padding-left: 46px;
    margin: 0;
  }
}

.popup-error__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    margin-bottom: 40px;
    line-height: 40px;
    margin-top: 0;
  }
}


.popup-error__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-transform: uppercase;
  margin: 0;
}

.popup-error__close {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  width: 180px;
  height: 58px;
  background-color: #81b3d2;
  border: none;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 272px;
    font-size: 21px;
    line-height: 26px;
    padding: 0;
  }
}
