.radio-holder {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
}

.radio-holder__input-indicator {
  position: relative;
  width: 48px;
  height: 48px;
  margin-right: 26px;
  background-color: #f2f2f2;

  &:hover {
    background-color: #e5e5e5;
  }
}

.radio-holder__input-indicator--circle {
  position: relative;
  border-radius: 50%;

  &:hover {
    background-color: #e5e5e5;
  }

  &:active {
    background-color: #d5d5d5;
  }
}

.radio-holder__input:checked + .radio-holder__input-indicator--circle::before {
  content: "";
  position: absolute;
  display: block;
  width: 18px;
  height: 18px;
  top: 32%;
  left: 32%;
  border-radius: 50%;
  background-color: #333333;
}

.radio-holder__input:checked + .radio-holder__input-indicator--circle:active::before {
  opacity: 0.3;
}


.radio-holder__input-text {
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  padding: 0;
}
