.radio-holder {
  position: relative;
  padding: 0;
  display: flex;
  align-items: center;
}

.radio-holder__input {
  width: 48px;
  height: 48px;
  margin: 0;
  margin-right: 26px;
}

.radio-holder__input-text {
  font-style: normal;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  padding: 0;
}
