.reason-other {
  margin: 0 auto;
  background-color: #eeeeee;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.reason-other__more {
  margin: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.reason-other__header {
  border-bottom: 1px solid #d6d6d6;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.reason-other__header-square {
  padding: 26px;

  @media (min-width: $tablet-width) {
    padding-top: 40px;
    padding-bottom: 63px;
    padding-left: 33px;
    padding-right: 34px;
  }
}

.reason-other-road {
  padding: 24px 42px;


  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-right: 55px;
    padding-bottom: 41px;
    padding-left: 53px;
  }
}

.reason-other-tourist {
  padding: 22px 31px;

  @media (min-width: $tablet-width) {
    padding-top: 42px;
    padding-right: 60px;
    padding-left: 59px;
    padding-bottom: 42px;
  }
}

.reason-other__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    padding-right: 86px;
    padding-left: 85px;
  }
}

.reason-other__number {
  align-items: center;
  text-align: center;
  margin-bottom: 25px;
}

.reason-other__text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $desktop-width) {
    padding-right: 20px;
    padding-left: 21px;
  }
}
