.reason-bridge {
  margin: 0;
  grid-row-start: 5;
  grid-row-end: 6;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: none;
  }
}

.reason-bridge__place {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
