.sight {
  border: none;
  padding: 0;
  margin-bottom: 51px;

  @media (min-width: $tablet-width) {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

.sight__tittle {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.sight__container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
