.social {
  padding: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 155px;
  margin: 0 auto;


  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  background-color: #81b3d2;
  list-style-type: none;
  width: 46px;
  height: 48px;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
  }
}

.social__link {
  display: block;

  &:active .social__wrapper {
    fill: #5496bd;
  }
}

.social__symbol-twitter {
  position: absolute;
  fill: #ffffff;
  top: 17px;
  left: 15px;
  height: 15px;
  width: 17px;

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.social__symbol-facebook {
  position: absolute;
  fill: #ffffff;
  width: 9px;
  height: 19px;
  top: 14px;
  left: 72px;

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}

.social__symbol-youtube {
  position: absolute;
  fill: #ffffff;
  width: 20px;
  height: 14px;
  top: 17px;
  right: 13px;

  &:active {
    fill: #ffffff;
    opacity: 0.3;
  }
}
