.user-fieldset {
  border: none;
  margin-bottom: 46px;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    gap: 52px;
  }
}

.user-fieldset__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
  }
}

.user-fieldset__field-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-right: 13px;
}
