.user-fieldset {
  border: none;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 25px;
  margin: 0;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet-width) {
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    width: auto;
    padding: 0;
    padding-left: 58px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-left: 79px;
  }
}

.user-fieldset__wrap {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}

.user-fieldset__title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 19px;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;
    font-size: 21px;
    padding-top: 60px;
    text-align: end;
  }
}

.user-fieldset__field-name {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  align-items: center;
  text-transform: uppercase;
  margin-right: 13px;
}
